body{
    background-color: black;
    color: rgb(241, 207, 247);
    margin-left: 50px;
}
h1{
    text-align: center;
    color: #d767f9;
    font-size: xxx-large;
}
h2{
    color: #cb6dd5;
    font-size: x-large;
}
h3{
    color: #e89bf9;
}
button{
    background-color: #350a42;
    color: white;
    font-size: large;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 70px;
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 5px;
}
#after_game{
    background-color: black;
    color: #2b052f;
    text-align: center;
}
#ordered{
    text-align: center;
    font-size: 40px;
    border: #2b052f solid 5px;
    background-color: #2b052f;
    border-top: #cb6dd5 solid 5px;
    border-bottom: #cb6dd5 solid 5px;
    padding: 30px;
}